@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
	margin: 0;
}
a {
	text-decoration: none;
	color: $white;
}
li {
	list-style: none;
}
body {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1.5px;
	font-size: 16px;
	background-color: $dark;
	color: $white;
	background-image: url("@/assets/img/background.png");
	background-size: cover;
}
div {
	box-sizing: border-box;
}
input, select {
	background-color: $dark;
	color: $dark_gray;
	border: 1px solid #323B54;
	border-radius: 12px;

	&::placeholder {
		color: $dark_gray;
	}

	&:focus {
		outline: none;
	}
}
body,
html,
#__nuxt {
	height: 100%;
}
.container {
	max-width: 1240px;
	width: 100%;
	padding: 40px 20px;
	margin: auto;
}
