$dark: #121829;
$light_dark: #20283e;
$gray: #a8aebf;
$light_gray: #c3c8d4;
$dark_gray: #475069;
$blue_gray: #8e95a9;
$light: #f0f0f0;
$white: #ebeef5;
$primary: #7b6ef6;
$orange: #ffad49;
$orange_red: #c92201;

// ------------------------------------- //

$link: calc((1vw + 1vh) / 1.2);
